@use 'src/styles/_vars';

#cookie {
  .cookie-title {
    display: flex;
    margin: 0 auto;
    width: fit-content;

    .first-cookie {
      transform: scale(-1) rotate(90deg);
    }

    h1 {
      font-family: vars.$syncopate;
      font-size: 1.8rem;
      align-self: center;
      margin: 0 1rem;
    }
  }
}
