@use 'src/styles/_vars';

#bubble {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;

  .bubble {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: -5rem;
  }
}

@keyframes bubbleUp {
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes bubbleMove {
  0% {
    transform: translateY(2rem);
  }

  20% {
    transform: translateX(50px) translateY(-20vh);
  }

  40% {
    transform: translateX(-30px) translateY(-40vh);
  }

  60% {
    transform: translateX(30px) translateY(-60vh);
  }

  80% {
    transform: translateX(-45px) translateY(-80vh);
  }

  100% {
    transform: translateX(70px) translateY(-110vh);
  }
}
