@use 'src/styles/_vars';

#header {
  font-family: vars.$syncopate;
  height: fit-content;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  background: vars.$background;
  z-index: 159;
  // background: linear-gradient(90deg, black,black, black, black, black, blue, black, black, black, black, black);

  @media (min-width: vars.$large) {
    height: vars.$header;
  }

  .nav-small {
    text-align: center;

    @media (min-width: vars.$large) {
      display: none;
    }

    h1 {
      margin-top: 2.5rem;
      font-size: 1.5rem;
      text-align: center;
    }

    .nav-small-infos {
      display: flex;
      flex-direction: column;
      margin: 2rem 0 0;
      
      a {
        margin-bottom: 1.5rem;
        transition: all 0.5s linear;

        &:hover, &:focus {
          background-color: #fff;
          color: vars.$mainColor;
        }

        &.active {
          text-decoration: underline;
        }
      }

      &.close {
        margin: 0;
        font-size: 0;

        a {
          margin-bottom: 0;
          transition: all 0.5s linear;
        }
      }
    }

    .open-menu {
      margin: 2rem auto 1rem;
      background-color: unset;
      border: unset;

      &:hover, &:focus {
        cursor: pointer;
        
        .bar {
          background-color: rgb(0, 140, 255);
        }
      }

      .bar {
        margin: 0 auto 0.5rem;
        height: 5px;
        width: 60px;
        background-color: vars.$secondColor;
        transition: all 0.5s linear;
      }
    }

    .close-menu {
      margin: 0.5rem auto 1rem;
      background-color: unset;
      border: unset;

      &:hover, &:focus {
        cursor: pointer;
        
        .bar {
          background-color: rgb(0, 140, 255);
        }
      }

      .bar {
        margin: 0 auto 0.5rem;
        height: 5px;
        width: 60px;
        background-color: vars.$secondColor;
        transition: all 0.5s linear;

        &.first-bar {
          transform: rotate(45deg) translate(9px, 9px);
        }

        &.second-bar {
          background-color: unset;
        }

        &.third-bar {
          transform: rotate(-45deg) translateX(9px) translateY(-9px);
        }
      }
    }
  }

  .nav-big {
    @media (max-width: vars.$large) {
      display: none;
    }

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    a {
      padding: 3px;
      border-radius: 2px;
      font-size: 1.1rem;

      &:hover:not(.title), &:focus:not(.title) {
        background-color: #fff;
        color: vars.$mainColor;
        transition: background-color 0.5s linear, color 0.5s linear;
      }

      &.active:not(.title) {
        text-decoration: underline;
      }

      &.title {
        font-size: 2rem;
      }
    }

    div {
      width: 35%;
      display: flex;
      justify-content: space-evenly;
    }

    h1 {
      width: 30%;
      text-align: center;
    }
  }

  .language {
    position: fixed;
    right: 10px;
    top: 5px;

    &.french {
      right: 45px;
    }

    img {
      height: 25px;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background-color: #fff;
    }
  }
}
