@use 'src/styles/_vars';

#header {
  font-family: vars.$syncopate;
  height: vars.$header;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  background: vars.$background;
  // background: linear-gradient(90deg, black,black, black, black, black, blue, black, black, black, black, black);

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    a {
      padding: 3px;
      border-radius: 2px;
      font-size: 1.1rem;

      &:hover:not(.title), &:focus:not(.title) {
        background-color: #fff;
        color: vars.$mainColor;
        transition: background-color 0.5s linear, color 0.5s linear;
      }

      &.active:not(.title) {
        text-decoration: underline;
      }

      &.title {
        font-size: 2rem;
      }
    }

    div {
      width: 35%;
      display: flex;
      justify-content: space-evenly;
    }

    h1 {
      width: 30%;
      text-align: center;
    }
  }

  .language {
    position: fixed;
    right: 10px;
    top: 5px;

    &.french {
      right: 45px;
    }

    img {
      height: 25px;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background-color: #fff;
    }
  }
}
