@use 'src/styles/_vars';

#footer {
  height: 100%;
  min-height: 150px;
  // background: linear-gradient(90deg, black, black, black,black, black, green, black, black, black, black, black);
  position: relative;
  display: flex;

  .icons8 {
    padding: 2px;
    border-radius: 2px;
    align-self: flex-end;

    &:hover, &:focus {
      background-color: #fff;
      color: vars.$mainColor;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .cookie-button {
    position: absolute;
    bottom: 2px;
    right: 10px;
    background: unset;
    border: unset;
    height: 30px;
    width: 30px;
    border-radius: 100%;

    img {
      height: 100%;
    }

    &:focus, &:hover {
      background-color: purple;
    }

    &:active {
      background-color: white;
    }
  }

  .cookie-text {
    position: absolute;
    bottom: 2px;
    right: 50px;
    border-radius: 2px;

    &:hover, &:focus {
      background-color: #fff;
      color: vars.$mainColor;
    }

    &:active {
      text-decoration: underline;
    }
  }
}
