@use 'src/styles/_vars';

#footer {
  height: 100%;
  min-height: 150px;
  position: relative;
  float: inline-end;
  display: flex;
  padding: 5px;

  .icons8 {
    border-radius: 2px;
    align-self: flex-end;
    margin-right: 2rem;

    &:hover, &:focus {
      background-color: #fff;
      color: vars.$mainColor;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .site-map {
    border-radius: 2px;
    align-self: flex-end;
    margin-right: 2rem;

    &:hover, &:focus {
      background-color: #fff;
      color: vars.$mainColor;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .legal-mentions {
    border-radius: 2px;
    align-self: flex-end;
    margin-right: 2rem;

    &:hover, &:focus {
      background-color: #fff;
      color: vars.$mainColor;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .cookie-button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: unset;
    border: unset;
    height: 30px;
    width: 30px;
    border-radius: 100%;

    img {
      height: 100%;
    }

    &:focus, &:hover {
      background-color: vars.$mainColor;
    }

    &:active {
      background-color: white;
    }
  }

  .cookie-text {
    position: absolute;
    bottom: 5px;
    right: 50px;
    border-radius: 2px;

    &:hover, &:focus {
      background-color: #fff;
      color: vars.$mainColor;
    }

    &:active {
      text-decoration: underline;
    }
  }
}
