@use 'src/styles/_vars';

#cookiePopup {
  position: fixed;
  bottom: 0;
  background: blue;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  line-height: 1.5rem;

  .cookie-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: unset;
    border: unset;
    height: fit-content;
    width: fit-content;
    border-radius: 100%;

    &:focus, &:hover {
      background-color: purple;
    }

    &:active {
      background-color: white;
    }
  }

  ul {
    margin-left: 3rem;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 100%;
    transform: rotate(45deg);
    border: unset;

    &:focus, &:hover {
      background-color: vars.$mainColor;
    }

    &:active {
      color: white;
    }
  }

  .cookie-choice {
    margin: 2rem 0 1rem;

    button {
      margin: 0 3rem;
      border: unset;
      border-radius: 5px;
      padding: 5px;

      &:hover, &:focus {
        background-color: vars.$mainColor;
      }

      &:active {
        color: white;
      }
    }
  }
}
